*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}
.card article{
    width: 100%;
    overflow: hidden;
}
.card *{
    color: white;
}
.card article img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card{
    background-color: black;
    border-radius: 10px;
    width: calc(100% / 4);
}
.contentText{
    padding: 10px;
}
.card:hover .imgCard{
    transform: scale(1.2);
}
.contentText h3{
    margin: 10px 0 10px 0;
    text-align: center;
    text-decoration: none;
}
.contentText p, .contentText p a{
    text-align: center;
    color: #e1ca94;
}

/* Navagacion */

img {
    width: 10%;
}

.nav__contenido {
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: white;
}

.nav-bg {
    background-color: blue;
}


/*Cartas Contenido cursos*/
.card article{
    width: 100%
}
.card *{
    color: white;
}
.card article img{
    width: 100%;
}
.card{
    background-color: black;
    border-radius: 10px;
    width: calc(100% / 4);
}
.card div p{
    padding-bottom: 5px;
}
